/** ctaContainer */
.cta-container {
    display: block;
    position: relative;
}

.cta-container .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 32px;
}

.cta-container .card-wrapper {
    padding: 24px;
}

@media screen and (min-width: 768px) {
    .cta-container .card-wrapper {
        padding: 64px;
    }
}

.cta-container .card-wrapper .cta-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    position: relative;
}

.cta-container .card-wrapper .cta-text .cta-title {
    display: block;
    position: relative;
    max-width: 789px;
    width: 100%;

    font-size: 64px;
    font-weight: var(--font-family-semibold);
    font-family: var(--font-family-medium);

    line-height: 70.4px;
    letter-spacing: 0;

    color: var(--color-matte-white);
}

.cta-container .card-wrapper .cta-text .cta-description {
    display: block;
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-regular);

    line-height: var(--line-height-large);
    color: var(--color-secondary-light);
}

.cta-container .card-wrapper .spacingLine {
    display: block;
    position: relative;

    width: 100%;
    height: 1px;
    background: var(--color-secondary-base);
    border: 1px solid var(--color-secondary-base);
    margin-block: 0px;
}

.cta-container .card-wrapper .cta-footer-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    --gap: 32px;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) / 5);

    width: 100%;
}

.cta-container .card-wrapper .cta-footer-flex .cta-input {
    display: block;
    position: relative;
    width: 81%;
}
.cta-container .card-wrapper .cta-footer-flex .cta-input input {
    color: var(--color-secondary-light);
    background: var(--color-secondary-dark);
}
.cta-container .card-wrapper .cta-footer-flex .cta-input input::placeholder {
    color: var(--color-secondary-light);
}
.cta-container .card-wrapper .cta-footer-flex .cta-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
    width: auto;
}
@media screen and (max-width: 991.98px) {
    .cta-container .card-wrapper .cta-text {
        gap: 12px;
    }
    .cta-container .card-wrapper .cta-text .cta-title {
        font-size: 42px;
        line-height: 62px;
    }
    .cta-container .card-wrapper .cta-footer-flex {
        flex-flow: row wrap;
        gap: 8px
    }
    .cta-container .card-wrapper .cta-footer-flex .cta-input {
        width: 100%;
    }
    .cta-container .card-wrapper .cta-footer-flex .cta-button,
    .cta-container .card-wrapper .cta-footer-flex .cta-button .btn {
        width: 100%;
    }
}
@media screen and (max-width: 767.98px) {
    .cta-container .card-wrapper {
        gap: 24px;
    }
    .cta-container .card-wrapper .cta-text .cta-title {
        font-size: var(--font-size-32);
        line-height: 42px;
    }
}
/** ctaContainer */