/** ctaContainer */
.ctaContainer {
    display: block;
    position: relative;
}

.ctaContainer .card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 32px;
}

.ctaContainer .card-wrapper .ctaText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    position: relative;
}

.ctaContainer .card-wrapper .ctaText .ctaTitle {
    display: block;
    position: relative;
    max-width: 789px;
    width: 100%;

    font-size: 64px;
    font-weight: var(--font-family-semibold);
    font-family: var(--font-family-medium);

    line-height: 70.4px;
    letter-spacing: 0;

    color: var(--color-matte-white);
}

.ctaContainer .card-wrapper .ctaText .ctaDescription {
    display: block;
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-regular);

    line-height: var(--line-height-large);
    color: var(--color-secondary-light);
}

.ctaContainer .card-wrapper .spacingLine {
    display: block;
    position: relative;

    width: 100%;
    height: 1px;
    background: var(--color-secondary-base);
    border: 1px solid var(--color-secondary-base);
    margin-block: 0px;
}

.ctaContainer .card-wrapper .ctaFooterFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    --gap: 32px;
    column-gap: var(--gap);
    row-gap: calc(var(--gap) / 5);

    width: 100%;
}

.ctaContainer .card-wrapper .ctaFooterFlex .ctaInput {
    display: block;
    position: relative;
    width: 81%;
}
.ctaContainer .card-wrapper .ctaFooterFlex .ctaInput input {
    color: var(--color-secondary-light);
    background: var(--color-secondary-dark);
}
.ctaContainer .card-wrapper .ctaFooterFlex .ctaInput input::placeholder {
    color: var(--color-secondary-light);
}
.ctaContainer .card-wrapper .ctaFooterFlex .ctaButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: relative;
    width: auto;
}
@media screen and (max-width: 991.98px) {
    .ctaContainer .card-wrapper .ctaText {
        gap: 12px;
    }
    .ctaContainer .card-wrapper .ctaText .ctaTitle {
        font-size: 42px;
        line-height: 62px;
    }
    .ctaContainer .card-wrapper .ctaFooterFlex {
        flex-flow: row wrap;
        gap: 8px
    }
    .ctaContainer .card-wrapper .ctaFooterFlex .ctaInput {
        width: 100%;
    }
    .ctaContainer .card-wrapper .ctaFooterFlex .ctaButton,
    .ctaContainer .card-wrapper .ctaFooterFlex .ctaButton .btn {
        width: 100%;
    }
}
@media screen and (max-width: 767.98px) {
    .ctaContainer .card-wrapper {
        gap: 24px;
    }
    .ctaContainer .card-wrapper .ctaText .ctaTitle {
        font-size: var(--font-size-32);
        line-height: 42px;
    }
}
/** ctaContainer */