.payments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    .title-payments {
      color: var(
        --color-neutral-light
      );
      font-size: var(
        --font-size-small
      );
      font-weight: var(
        --font-weight-light
      );
      line-height: 150%;
      letter-spacing: 1px;
    }
    .list-payments {
      display: flex;
      gap: 12px;
      .item-payment {
        display: flex;
        width: 56px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid
          var(
            --color-matte-white
          );
      }
    }
  }