.weed-education-container {

    background: var(--color-matte-white);
    padding-top: 64px;

    @media screen and (min-width: 1200px) {
        padding-top: 120px;
    }

    .card-box {
        padding: 32px 24px;
        // @media screen and (min-width: 576px) {
        //     padding: 0 24px;
        // }
        @media screen and (min-width: 1200px) {
            padding: 0 120px;
        }

        .card-box-element {
            padding: 0;
            // background-color: var(--color-neutral-white);
            background: var(--color-matte-white);
        
            .weed-education-group {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;

                gap: 24px;
                width: 100%;

                @media screen and (min-width: 576px) {
                    justify-content: center;
                }
                @media screen and (min-width: 768px) {
                    gap: 32px;
                    justify-content: space-between;
                }


                .weed-education-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: stretch;
                    gap: 24px;

                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    height: auto;

                    @media screen and (min-width: 576px) {
                        max-width: 460px;
                    }
                    @media screen and (min-width: 768px) {
                        max-width: calc(100% / 2 - 24px);
                    }
                    @media screen and (min-width: 992px) {
                        max-width: calc(100% / 3 - 24px);
                    }

                    .weed-education-item-image {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                            border-radius: 8px;
                            image-rendering: auto;
                        }
                    }

                    .weed-education-item-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 32px;

                        .weed-education-item-info {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 8px;

                            .weed-education-item-subtitle {
                                color: var(--color-neutral-light);
                                font-size: var(--font-size-normal);
                                font-weight: var(--font-weight-light);
                                font-family: var(--font-family-regular);

                                line-height: var(--line-height-small);
                            }

                            .weed-education-item-title {
                                color: var(--color-neutral-black);
                                font-size: var(--font-size-xxl);
                                font-weight: var(--font-weight-medium);
                                line-height: var(--line-height-xl);

                                letter-spacing: -0.5px;
                            }

                            .weed-education-item-description {
                                color: var(--color-neutral-light);
                                font-size: var(--font-size-normal);
                                font-weight: var(--font-weight-normal);
                                line-height: var(--line-height-medium);
                            }
                        }
                
                        .weed-education-item-readmore {
                            .base-link {
                                color: var(--color-primary-base);
                                font-size: var(--font-size-normal);
                                font-weight: var(--font-weight-normal);
                                font-family: var(--font-family-regular);
                                line-height: var(--line-height-medium);

                                text-decoration: underline;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}