.btn-primary-base,
.btn.btn-primary-base {
  display: inline-flex;
  height: var(--height-56);
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: var(--color-primary-base);
}

.btn-secondary-base,
.btn.btn-secondary-base {
  display: flex;
  height: var(--height-large);
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: 1px solid var(--color-secondary-dark);
  background: var(--color-secondary-ultra-light);
}

.btn-color-text-primary,
.btn.btn-color-text-primary {
  color: var(--color-neutral-white);
  font: normal var(--font-weight-regular) var(--font-size-normal) / var(--line-height-medium);
}

.btn-color-text-secondary,
.btn.btn-color-text-secondary {
  color: var(--color-neutral-mid);
  font: normal var(--font-weight-regular) var(--font-size-medium) / var(--line-height-medium);
}

.btn.btn-xs {
  padding: 0 20px;
}

.btn.btn-sm {
  padding: 0 24px;
}

.btn.btn-xl {
  padding: 0 40px;
}

.btn.btn-lg {
  padding: 8px 20px;
}

.btn.btn-xl {
  padding: 16px 44px;
}

.btn.btn-xxl {
  padding: 8px 56px;
}

.btn.btn-big {
  padding: 24px 44px;
}
