/** limitToobarContainer */
.limit-toolbar-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 8px 0;
    background-color: var(--color-secondary-dark);
}

.limit-toolbar-container .limit-toolbar-box {
    display: block;
    position: relative;
    width: 100%;
}

.limit-toolbar-container .limit-toolbar-box .limit-toolbar-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: #fff;
}

.limit-toolbar-container .limit-toolbar-box .limit-toolbar-info .limit-toolbar-text {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family-regular);
    line-height: 21px;

    width: auto;
    white-space: nowrap;

    color: var(--color-neutral-white);
    opacity: 0.7;

    overflow: hidden;
    text-overflow: ellipsis;
}

.limit-toolbar-container .limit-toolbar-box .limit-toolbar-info .limit-toolbar-time {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family-regular);
    color: var(--color-neutral-white);
}

@media screen and (max-width: 575px) {

    .limit-toolbar-container .limit-toolbar-box .limit-toolbar-info .limit-toolbar-text,
    .limit-toolbar-container .limit-toolbar-box .limit-toolbar-info .limit-toolbar-time {
        font-size: 12px;
        line-height: 18px;
    }

    .limit-toolbar-container {
        padding: 8px 24px;
    }
}

/** limitToobarContainer */






/** middleToolbarContainer */
.navbar-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
}

.navbar-container .navbar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 14px 56px;
    border-bottom: 1px solid var(--bs-gray-500);

    margin-bottom: 80px;
}

.navbar-container .navbar-box .navbar-brand,
.navbar-container .navbar-box .navbar-search-box,
.navbar-container .navbar-box .navbar-box-end {
    width: calc(100% / 3);
}

.navbar-container .navbar-box .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    order: 0;

    gap: 1rem;
}

.navbar-container .navbar-box .navbar-brand .menu-button-hamburger {
    display: none;
    position: relative;
    top: 0;

    width: 30px;
    height: 30px;

    padding: 0;
    cursor: pointer;

    overflow: hidden;

    transition: top 0.5s ease;
}

.navbar-container .navbar-box .navbar-brand .menu-button-hamburger:is(:active, :focus) svg path {
    stroke: var(--color-secondary-base);
}

.navbar-container .navbar-box .navbar-brand .navbarLogo {
    display: block;
    max-width: 270px;
    width: 100%;
    height: 28px;

    @media only screen and (min-width: 576px) {
        height: 40px;
    }
}

.navbar-container .navbar-box .navbar-search-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 55%;
    height: auto;

    order: 1;
    position: absolute;
    top: 64px;
}

.navbar-container .navbar-box .navbar-search-box .form-group {
    display: flex;
    width: 100%;
    height: auto;
    padding: 4px 4px 4px 24px;
    align-items: center;
    gap: 8px;
}

.navbar-container .navbar-box .navbar-search-box .form-group .floating-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 48px;
    gap: 8px;
}

.navbar-container .navbar-box .navbar-search-box .form-group .floating-form .floating-custom-control {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border-color: var(--bs-gray-500);
    padding: 24px 44px;
}

.navbar-container .navbar-box .navbar-search-box .form-group .floating-form .search-button {
    display: grid;
    place-items: center;
    position: relative;
    width: 52px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--color-primary-base);
}

.navbar-container .navbar-box .navbar-search-box .form-group .floating-form .search-button svg path {
    stroke: #fff;
}

.navbar-container .navbar-box .navbar-box-end {
    display: block;
    position: relative;
    height: auto;

    order: 2;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15%;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item {
    display: block;
    position: relative;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -30%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 15px;
    background: var(--bs-gray-500);
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child) .item-link .icon {
    display: none;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item .item-link {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-family-regular);
    line-height: 1.5;

    color: var(--color-neutral-mid);
    text-decoration: none;
    white-space: nowrap;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item .product-quality {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 12px;
    color: #fff;
    background-color: red;
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 1099px) {
    .navbar-container .navbar-box {
        padding: 14px 24px;
    }
}

@media screen and (max-width: 991px) {

    .navbar-container .navbar-box {
        /* flex-flow: row wrap; */
        padding: 0;
        border-bottom: none;
    }

    .navbar-container .navbar-box .navbar-brand {
        width: calc(100% / 2);
        order: 0;

        padding-block: 14px;
        padding-left: 42px;
    }

    .navbar-container .navbar-box .navbar-box-end {
        width: calc(100% / 2);
        order: 1;

        padding-block: 14px;
        padding-right: 42px;
    }

    .navbar-container .navbar-box .navbar-search-box {
        width: 100%;
        order: 2;

        border-top: 1px solid var(--bs-gray-500);
        padding: 12px 24px;
    }

    .navbar-container .navbar-box .navbar-search-box .form-group {
        padding: 0;
    }

    .navbar-container .navbar-box .navbar-brand .menu-button-hamburger {
        display: block;
    }

}

@media only screen and (min-width: 992px) {
    .navbar-container .navbar-box .navbar-search-box {
        position: relative;
        top: 0;
        width: 55%;
        order: 2
    }
}

@media screen and (max-width: 575px) {
    .navbar-container .navbar-box .navbar-brand {
        padding-left: 24px;
    }

    .navbar-container .navbar-box .navbar-brand .navbarLogo {
        max-width: 120px;
    }

    .navbar-container .navbar-box .navbar-box-end {
        padding-right: 24px;
    }

    .navbar-container .navbar-box .navbar-box-end {
        font-size: 14px;
        color: var(--color-neutral-mid);
    }

    .navbar-container .navbar-box .navbar-search-box {
        padding: 12px 12px;
    }

    .navbar-container .navbar-box .navbar-box-end .navbar-group-info {
        column-gap: 5%;
    }

    .navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child)::after {
        right: -13%;
    }
}

@media screen and (max-width: 399px) {
    .navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child) .item-link .text {
        display: none;
    }

    .navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child) .item-link .icon {
        display: block;
    }

    .navbar-container .navbar-box .navbar-box-end .navbar-group-info {
        column-gap: 10%;
    }

    .navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item:not(:last-child)::after {
        right: -1rem;
    }
}

/** middleToolbarContainer */





/** endToobarContainer */
.navbar-box-end-container {
    display: block;
    position: relative;
}

.navbar-box-end-container .close-drawer {
    display: none;
}

.navbar-box-end-container .navbar-box {
    display: block;
    position: relative;
    padding: 16px 64px;
}

.navbar-box-end-container .navbar-box .nav-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.navbar-box-end-container .navbar-box .nav-group .nav-item {
    display: block;
    position: relative;
}

.navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
}

.navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box:active,
.navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box:focus {
    border: none;
    outline: none;
    border-color: unset;
}

.navbar-box-end-container .navbar-box .nav-group .nav-item .nav-link {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
    font-family: var(--font-family-regular);
    line-height: 1.5;
    color: var(--color-neutral-mid);
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-box-end-container .navbar-box .nav-group .nav-item .nav-link:hover {
    color: var(--color-primary-base);
}


@media screen and (min-width: 992px) {
    .navbar-box-end-container .navbar-box .nav-group {
        column-gap: calc(40px / 2.5);
        overflow: auto hidden;
        user-select: auto;
        flex-flow: nowrap row;
    }

    .navbar-box-end-container .navbar-box {
        padding: 16px 24px;
    }
}

@media screen and (min-width: 1400px) {
    .navbar-box-end-container .navbar-box .nav-group {
        column-gap: calc(40px / 1.65);
    }
}



@media screen and (max-width: 991px) {
    .navbar-box-end-container {
        display: block;
        position: fixed;
        top: 0;
        left: -1000px;

        width: 100%;
        height: 100%;

        background-color: var(--color-neutral-white);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition: left 0.5s ease;
        z-index: 998;
    }

    .navbar-box-end-container.show-drawer {
        left: 0px;
    }

    .navbar-box-end-container .close-drawer {
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 1rem;

        z-index: 10;
    }

    .navbar-box-end-container .close-drawer i {
        font-size: 32px;
    }

    .navbar-box-end-container .navbar-box {
        display: block;
        position: relative;

        padding: 6rem 24px 1rem 24px;
    }

    .navbar-box-end-container .navbar-box .nav-group {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        height: calc(100svh - 10rem);
        padding: 1rem;
        overflow-y: auto;
        border-radius: 8px;
    }

    .navbar-box-end-container .navbar-box .nav-group::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    }

    .navbar-box-end-container .navbar-box .nav-group::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .navbar-box-end-container .navbar-box .nav-group::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: var(--color-secondary-base);
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item {
        display: block;
        position: relative;
        width: 100%;
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item .nav-link {
        font-size: 16px;
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item>.nav-link {
        display: block;
        position: relative;
        width: 100%;
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box {
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-inline: 0;
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box .nav-link {
        order: 0;
        width: calc(90% - 6px);
        text-align: left;

        pointer-events: none;
    }

    .navbar-box-end-container .navbar-box .nav-group .nav-item .dropdown-menu-box>svg {
        order: 1;
        width: calc(10% - 6px);
    }

}

/** endToobarContainer */







/** dropdown-menu-box */
@media screen and (min-width: 992px) {
    .navbar-box-end-container .navbar-box .nav-group .nav-item:is(:hover, :focus) .dropdown-box-container {
        user-select: all;
        pointer-events: auto;
        opacity: 1;

        top: 35px;
        visibility: visible;
    }
}



.dropdown-box-container {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background: var(--color-neutral-white);
    border-radius: 8px;

    transition: all 0.3s;
    z-index: 890;
}



.dropdown-box-container .dropdown-box {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s;
}

.dropdown-menu-box.active~.dropdown-box-container .dropdown-box{
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}



@media screen and (min-width: 992px) {
    .dropdown-box-container {
        user-select: none;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .dropdown-box-container .dropdown-box {
        border: 1px solid var(--bs-gray-500);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.dropdown-box-container .dropdown-box .dropdown-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    overflow: hidden;
}

.dropdown-box-container .dropdown-box .dropdown-box-content .dropdown-box-content-item {
    display: block;
    position: relative;

    width: 100%;
    padding: 16px 24px;

    background: var(--color-neutral-white);
    transform: translateY(0);

    overflow: hidden;
    transition: all 0.3s;
}

.dropdown-box-container .dropdown-box .dropdown-box-content .dropdown-box-content-item .dropdown-box-content-item-link {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-family-regular);
    line-height: 1.5;
    color: var(--color-neutral-mid);
    text-align: center;

    text-decoration: none;
    text-shadow: none;

    transition: all 0.3s;
}

.dropdown-box-container .dropdown-box .dropdown-box-content .dropdown-box-content-item:hover {
    background: var(--color-secondary-dark);
}

.dropdown-box-container .dropdown-box .dropdown-box-content .dropdown-box-content-item:hover .dropdown-box-content-item-link {
    color: var(--color-neutral-white);
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-menu-box.active span.nav-link{
    color: var(--color-primary-base);
}

@media screen and (max-width: 991px) {
    .dropdown-box-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        transform: translateX(0);
        transition: all 0.3s;

        order: 2;
    }

    .dropdown-box-container .dropdown-box .dropdown-box-content .dropdown-box-content-item {
        text-align: left;
        padding: 16px 24px 16px 18px;
    }
}

/** dropdown-menu-box */