.box-container {

    font-family: var(--font-family-regular);
    margin-top: 64px;

    @media only screen and (min-width: 1400px) {
        padding: 0 120px;
    }

    .title {
        text-transform: uppercase;
        color: var(--color-neutral-base);
        font-size: var( --font-size-32);
        font-style: normal;
        font-weight: var(--font-weight-semibold);
        letter-spacing: -1.5px;
        padding-left: 24px;
        padding-bottom: 24px;
    }

    .filter{
        font-size: var(--font-size-normal);
        color: var(--color-neutral-base);
        padding-bottom: 24px;
        padding-left: 24px;
    }

    .option-filter{
        overflow: hidden;
        width: 100%;
        position: relative;

        .wrapper-option{
            padding: 0 24px;
            margin-bottom: 32px;

            display: flex;
            align-items: center;
            gap: 16px;
            
            width: 100%;
            overflow: auto hidden;

            .btn-option-weed.actvie{
                border-color: var( --color-secondary-dark);
                color: var( --color-secondary-dark);
                background: var(--color-secondary-ultra-light);
            }
        }
    }

    .container-list-item {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 24px;
      
        
        padding: 0 24px;
        margin-bottom: 64px;

        .item-card{
            width: calc(((100% + 24px) / 2) - 24px);

            @media only screen and (min-width: 576px) {
                width: calc(((100% + 24px) / 3) - 24px);
            }
            @media only screen and (min-width: 1024px) {
                width: calc(((100% + 24px) / 4) - 24px);
            }
        }
    }
}