.text-input-default {
  display: flex;
  width: 400px;
  height: var(--height-xxl);
  padding: 4px 4px 4px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--color-matte-white);
  background: var(--color-neutral-white);
}

.text-input.input-sm {
  padding: 4px 4px 4px 24px;
}

.text-input.input-md {
  padding: 24px 44px;
}
