.form-control.text-input-default,
.text-input-default {
  display: block;
  width: auto;
  height: var(--height-xxl);
  padding: .375rem .75rem .375rem 1.75rem;

  border-radius: 100px;
  border: 1px solid var(--bs-gray-500);
  background: var(--color-neutral-white);
}

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

.bg-secondary-ultra-dark {
  background-color: var(--color-secondary-ultra-dark);
}

.bg-primary-base {
  background-color: var(--color-primary-base);
}

.text-input.input-sm {
  padding: 4px 4px 4px 24px;
}

.text-input.input-md {
  padding: 24px 44px;
}
