.service-list-container {

    padding: 80px 64px;
    margin-bottom: 35px;
    background: #F2F6F4;

    @media screen and (max-width: 575px) {
        padding: 64px 24px;
        margin-bottom: 0;
    }

    .list-container-box {
        $gapContainer: 32px;
        gap: $gapContainer;

        @media screen and (max-width: 991px) {
            gap: $gapContainer * 2;
        }

        .service-list-container-box {
            display: flex;
            flex-direction: row;
            gap: 24px;

            width: calc((100% / 3) - $gapContainer);
            height: auto;

            @media screen and (max-width: 1199px) {
                width: calc((100% / 2) - $gapContainer);
            }

            @media screen and (max-width: 991px) {
                width: 100%;
            }

            @media screen and (max-width: 419px) {
                // flex-direction: column;
                gap: 12px;
            }

            .service-list-box-left {
                display: block;
                position: relative;
                // margin-top: 1rem;

                .icon-box {
                    padding: 8px;
                    border-radius: 50%;
                    background: #fff;
                    width: 64px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    svg {
                        width: 36px;
                        height: 36px;
                        position: relative;


                    }

                    @media only screen and (min-width: 767px) {
                        width: 100px;
                        height: 100px;

                        &.homepage {
                            ::after {
                                content: "";
                                position: absolute;
                                width: 40px;
                                height: 4px;
                                border-radius: 100px;
                                background-color: #F2F6F4;
                                bottom: 14px;
                            }
                        }


                        svg {
                            width: 56px;
                            height: 56px;
                        }
                    }
                }
            }

            .service-list-box-right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                gap: 12px;

                .service-list-title {
                    display: block;
                    position: relative;

                    color: var(--color-neutral-base);
                    font-size: var(--font-size-xxl);
                    font-weight: var(--font-weight-medium);
                    font-family: var(--font-family-medium);

                    line-height: 1.5;
                    letter-spacing: -0.5px;
                }

                .service-list-description {
                    display: block;
                    position: relative;

                    color: var(--color-neutral-light);
                    font-size: clamp(var(--font-size-medium), 2vw, var(--font-size-normal));
                    font-weight: var(--font-weight-normal);
                    font-family: var(--font-family-regular);

                    line-height: 1.5;
                }
            }
        }
    }

}