.service-list-container {
  padding: 80px 64px;
  margin-bottom: 35px;
}
@media screen and (max-width: 575px) {
  .service-list-container {
    padding: 80px 24px;
  }
}
.service-list-container .list-container-box {
  gap: 32px;
}
@media screen and (max-width: 991px) {
  .service-list-container .list-container-box {
    gap: 64px;
  }
}
.service-list-container .list-container-box .service-list-container-box {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: calc(33.3333333333% - 32px);
  height: auto;
}
@media screen and (max-width: 1199px) {
  .service-list-container .list-container-box .service-list-container-box {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 991px) {
  .service-list-container .list-container-box .service-list-container-box {
    width: 100%;
  }
}
@media screen and (max-width: 419px) {
  .service-list-container .list-container-box .service-list-container-box {
    flex-direction: column;
    gap: 12px;
  }
}
.service-list-container .list-container-box .service-list-container-box .service-list-box-left {
  display: block;
  position: relative;
  margin-top: 1rem;
}
.service-list-container .list-container-box .service-list-container-box .service-list-box-left svg {
  width: 56px;
  height: 56px;
}
.service-list-container .list-container-box .service-list-container-box .service-list-box-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.service-list-container .list-container-box .service-list-container-box .service-list-box-right .service-list-title {
  display: block;
  position: relative;
  color: var(--color-neutral-base);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-medium);
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.service-list-container .list-container-box .service-list-container-box .service-list-box-right .service-list-description {
  display: block;
  position: relative;
  color: var(--color-neutral-light);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  line-height: 1.5;
}
