.banner-container {
    display: block;
    position: relative;
    width: 100%;
    height: 720px;

    overflow: hidden;

    @media screen and (min-width: 576px) {
        height: 140vw;
    }

    @media screen and (min-width: 768px) {
        height: 140vw;
    }

    @media screen and (min-width: 1024px) {
        height: 720px;
    }

    .banner-box-background {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
        background-image: url('/src/assets/images/banner/sm-mask-bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;

        @media only screen and (min-width: 476px) {
            background-position-y: 68%;
        }

        @media only screen and (min-width: 1024px) {
            background-image: url('/src/assets/images/banner/lg_bg.jpg');
            background-position-x: -300px;
        }

        @media only screen and (min-width: 1141px) {
            background-position-x: -200px;
        }

        @media only screen and (min-width: 1241px) {
            background-position-x: center;
        }

        .image-homepage-absolute {
            position: absolute;
            bottom: 86px;

            @media only screen and (min-width: 1024px) {
                display: none;
            }

            img {
                width: 147px;
                height: 147px;

                // @media only screen and (min-width: 476px) {
                //     width: 100px;
                //     height: 100px;
                // }
            }
        }

        .image-1 {
            left: -12px;
            @media only screen and (min-width: 476px) {
                left: 8%;
                bottom: 3%;
            }
        }

        .image-2 {
            bottom: 27%;
            left: 30%;
            @media only screen and (min-width: 476px) {
                bottom: 27%;
            }
        }

        .image-3 {
            right: -3%;

            @media only screen and (min-width: 476px) {
                // right: 
                bottom: 8%;
                right: 15%;
            }
        }

        .banner-background {
            display: block;
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media screen and (max-width: 575px) {
                    height: 100%;
                }
            }
        }
    }

    .bannerbox-container {
        display: block;
        position: relative;

        width: 100%;
        height: 100%;
        padding: 0 64px;
        overflow: hidden;

        @media screen and (max-width: 575px) {
            padding: 0 24px;
        }

        .banner-box {
            display: block;
            position: relative;

            width: 100%;
            height: auto;

            margin-top: 56px;

            @media only screen and (min-width: 768px) {
                margin-top: 120px;
            }

            .banner-box-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                margin-bottom: 102px;

                @media screen and (max-width: 991px) {
                    margin-bottom: 64px;
                }

                @media screen and (max-width: 575px) {
                    margin-bottom: 40px;
                }

                .banner-box-title {
                    display: block;
                    position: relative;

                    max-width: 672px;
                    width: 100%;

                    margin-bottom: 24px;

                    @media only screen and (max-width: 767px) {
                        margin-bottom: 16px;
                    }

                    .banner-subtitle {
                        display: block;
                        position: relative;

                        color: var(--color-other-orange);
                        font-size: var(--font-size-normal);
                        font-weight: var(--font-weight-regular);
                        font-family: var(--font-family-regular);
                        line-height: var(--line-height-medium);
                        letter-spacing: 4px;
                        margin-bottom: 3px;

                        @media screen and (max-width: 575px) {
                            font-size: var(--font-size-medium);
                        }
                    }

                    .banner-title {
                        display: block;
                        position: relative;

                        color: var(--color-neutral-white);
                        font-size: var(--font-size-64);
                        font-weight: var(--font-weight-semibold);
                        font-family: var(--font-family-regular);

                        line-height: 70.4px;
                        letter-spacing: -4px;

                        @media screen and (max-width: 767px) {
                            font-size: calc(var(--font-size-64) / 1.5);
                            letter-spacing: -1.5px;
                            line-height: var(--line-height-56);
                        }

                        @media screen and (max-width: 575px) {
                            font-size: var(--font-size-32);
                            letter-spacing: 0;
                            line-height: 42px;
                            letter-spacing: -1.5px;
                        }
                    }
                }

                .banner-box-description {
                    display: block;
                    position: relative;
                    font-size: clamp(var(--font-size-normal), 2vw, var(--font-size-xxl));

                    .banner-description {
                        display: inline-block;

                        color: var(--color-matte-white);
                        font-size: var(--font-size-xxl);
                        font-weight: var(--font-weight-regular);
                        line-height: var(--line-height-xl);

                        letter-spacing: -0.5px;
                    }

                }
            }

            .banner-box-service {

                .banner-box-service-group {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 70px;

                    margin-bottom: 40px;

                    color: var(--color-neutral-white);
                    font-size: var(--font-size-xxl);
                    font-weight: var(--font-weight-medium);

                    @media screen and (max-width: 991px) {
                        font-size: var(--font-size-large);
                    }

                    @media screen and (max-width: 575px) {
                        column-gap: 32px;
                        margin-bottom: 24px;
                    }

                    .service-item {
                        display: block;
                        position: relative;

                        &:not(:last-child)::after {
                            content: '';
                            display: block;
                            position: absolute;

                            top: 50%;
                            right: -28%;
                            transform: translateY(-50%);

                            width: 1px;
                            height: 16px;
                            background: var(--color-neutral-lighter);

                            @media screen and (max-width: 991px) {
                                right: -35%;
                            }

                            @media screen and (max-width: 575px) {
                                right: -18%;
                            }
                        }
                    }
                }
            }
        }
    }
}