.seller-list-container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.seller-list-container .seller-list-container-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  gap: 32px;
}
@media screen and (max-width: 991.98px) {
  .seller-list-container .seller-list-container-box {
    flex-direction: column;
  }
}
.seller-list-container .seller-list-container-box .best-seller-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  position: relative;
  max-width: 380px;
  width: 100%;
  height: auto;
  color: var(--color-neutral-white);
  background: var(--color-secondary-dark);
  border-radius: 16px;
  padding: 120px 40px 80px 40px;
  overflow: hidden;
  z-index: 0;
}
@media screen and (max-width: 991.98px) {
  .seller-list-container .seller-list-container-box .best-seller-card {
    padding: 120px 24px 80px 24px;
  }
}
.seller-list-container .seller-list-container-box .best-seller-card::after {
  content: "";
  display: block;
  position: absolute;
  right: -55.024px;
  top: -102px;
  width: 262px;
  height: 370px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(52, 102, 84, 0) 0%, rgba(52, 102, 84, 0.4) 100%);
  transform: rotate(5deg);
  z-index: -1;
}
.seller-list-container .seller-list-container-box .best-seller-card .best-seller-card-image {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}
.seller-list-container .seller-list-container-box .best-seller-card .best-seller-card-image .best-product-image {
  display: block;
  position: relative;
  margin: auto;
}
.seller-list-container .seller-list-container-box .best-seller-card .sellerCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.seller-list-container .seller-list-container-box .best-seller-card .sellerCardContent .best-seller-cardTitle {
  display: block;
  position: relative;
  color: var(--color-neutral-white);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-medium);
  text-align: center;
  line-height: 1.5;
}
.seller-list-container .seller-list-container-box .best-seller-card .sellerCardContent .best-seller-card-description {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  line-height: var(--line-height-small);
  text-align: center;
}
.seller-list-container .seller-list-container-box .best-seller-card .sellerCardContent .best-seller-card-description .best-seller-card-button {
  display: block;
  position: relative;
  margin-top: 20px;
}
.seller-list-container .seller-list-container-box .best-seller-card .sellerCardContent .best-seller-card-description .best-seller-card-button .base-seller-link {
  color: var(--color-primary-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  text-decoration: underline;
}
.seller-list-container .seller-list-container-box .seller-list {
  display: block;
  position: relative;
  width: calc(100% - 380px);
}
@media screen and (max-width: 991.98px) {
  .seller-list-container .seller-list-container-box .seller-list {
    width: 100%;
  }
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
  position: relative;
  max-width: 290px;
  width: 100%;
  height: 100%;
  color: var(--color-neutral-white);
  background: transparent;
  border-radius: 16px;
  padding-top: 35px;
  overflow: hidden;
  z-index: 0;
}
@media screen and (max-width: 767.98px) {
  .seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box {
    max-width: 100%;
  }
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .splide-product-image {
  display: block;
  position: relative;
  width: 100%;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .category {
  display: block;
  position: relative;
  color: var(--color-neutral-lighter);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-regular);
  text-align: center;
  line-height: var(--light-height-small);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .title {
  display: block;
  position: relative;
  color: var(--color-neutral-base);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  text-align: center;
  line-height: var(--line-height-small);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--color-neutral-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  line-height: var(--light-height-small);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .flex-box .rate-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  position: relative;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .flex-box .rate-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -13px;
  width: 1px;
  height: 12px;
  background: var(--color-neutral-lightest);
  transform: translateY(-50%);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .flex-box .previews {
  color: var(--color-neutral-lightest);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .sale-box {
  display: block;
  position: relative;
  margin-top: 12px;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .sale-box .sale-text {
  color: var(--color-secondary-dark);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  line-height: var(--line-height-small);
  text-align: center;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .price-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--color-other-red);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-regular);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .price-box .discount {
  color: var(--color-neutral-lighter);
  font-size: var(--font-size-medium);
  text-decoration: line-through;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .price-box .unit {
  font-size: var(--font-size-medium);
  color: var(--color-neutral-lightest);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .sell-container-box-content .kg {
  color: var(--color-neutral-base);
  font-size: var(--font-size-small);
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .button-box {
  display: flex;
  justify-content: center;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .button-box .add-cart-button {
  display: block;
  position: relative;
  height: 40px;
  color: var(--color-neutral-white);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-medium);
  padding: 0 24px;
  background: var(--color-primary-base);
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.seller-list-container .seller-list-container-box .seller-list .splide__slide .sell-container-box .button-box .add-cart-button:hover {
  color: var(--color-neutral-base);
  background: var(--color-primary-dark);
}
.seller-list-container .seller-list-container-box .seller-list .splide__arrow {
  width: 36px;
  height: 36px;
  background: var(--color-neutral-white);
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.25);
}
.seller-list-container .seller-list-container-box .seller-list .splide__arrow.splide__arrow--prev svg {
  transform: scaleX(1);
}
