.box-info-bottom-container {
    padding: 0 24px;

    margin-bottom: 64px;

    @media only screen and (min-width: 1200px) {
        margin-bottom: 120px;
        padding: 0 120px;
    }

    .box-container {
        padding-top: 64px;
        border-top: 1px solid var(--color-neutral-light);

        @media only screen and (min-width: 768px) {
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }

        @media only screen and (min-width: 1200px) {
            gap: 32px;
        }

        @media only screen and (min-width: 1400px) {
            padding: 0;
        }

        .item-box {
            padding: 24px;
            margin-bottom: 24px;

            border: 1px solid var(--color-matte-white);
            border-radius: 12px;

            @media only screen and (min-width: 768px) {
                width: calc(((100% + 24px) / 3) - 24px)
            }

            @media only screen and (min-width: 1200px) {
                width: calc(((100% + 32px) / 3) - 32px)
            }

            &:last-child {
                margin-bottom: 0;
            }


            .card-image {
                background: var(--color-secondary-ultra-light);
                border-radius: 8px;

                text-align: center;
                padding: 24px;
                background: var(--color-secondary-ultra-light);
            }

            .title {
                margin-top: 24px;
                margin-bottom: 16px;
                color: var(--color-neutral-base);
                font-size: var(--font-size-xxl);
                font-weight: var(--font-weight-medium);

                @media only screen and (min-width: 1200px) {
                    font-size: var(--font-size-32);
                    font-weight: var(--font-weight-normal);
                    padding-left: 0;
                    margin-top: 32px
                }
            }

            .description {
                font-size: var(--font-size-medium);
                color: var(--color-neutral-light);
                line-height: 21px;
                margin-bottom: 24px;
            }

            .shop {
                color: var(--color-primary-base);
                font-size: var(--font-size-medium);
            }
        }
    }
}