.item-card {
    width: 160px;
    @media only screen and (min-width: 768px) {
        width: calc(((100% + 24px) / 3) - 24px);
    }
    @media only screen and (min-width: 1200px) {
        width: calc(((100% + 24px) / 4) - 24px);
    }

    .image-card {
        padding: 32px 12px;
        background-color: var(--color-matte-white);
        border-radius: 8px;
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 1024px) {
            padding: 38px 56px;
        }

        img {
            width: 120px;
            height: 120px;
            @media only screen and (min-width: 1024px) {
                width: 164px;
                height: 164px;
            }
        }

        .per-price{
            position: absolute;
            border-radius: 8px 0;
            padding: 0 8px;
            text-align: center;
            background-color: var(--color-other-orange);
            height: 26px;
            top: 0;
            left: 0;
            min-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-matte-white);
            font-size: var(--font-size-medium)
        }

        .sold-out {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 152px;
            height: 64px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 5px 32px;
            border-radius: 100px;
            background: rgba(5, 66, 44, 0.3);
            backdrop-filter: blur(4px);
            color: var(--color-neutral-white);
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-regular);
            font-family: var(--font-family-regular);
            z-index: 1;
            
            @media only screen and (max-width: 767px){
                height: 48px;
                width: calc(100% - 24px);
            }
        }
    }

    .content-item {
        margin-top: 24px;
        text-align: center;

        .cate-item {
            color: var(--color-neutral-lighter);
            text-align: center;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-light);
            line-height: var(--height-small);
        }

        .title-item {
            color: var(--color-netral-base);
            font-size: var(--font-size-normal);
            text-align: center;

            margin: 8px 0;
            height: 50px;
            overflow: hidden;
        }

        .star-review {
            margin: 8px 0;
            color: var(--color-neutral-black);
            font-size: var(--font-size-small);

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .voted {
                display: flex;
                align-items: center;
                gap: 4px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: var(--color-neutral-lightest);
                    right: -8px;
                }
            }

            .reviewsText {
                color: var(--color-neutral-lightest);
                font-weight: var(--font-weight-light);
                font-size: var(--font-size-small);

                margin-left: 4px;
            }
        }

        .purity {
            padding: 5px 10px;
            background-color: var(--color-secondary-ultra-light);
            color: var(--color-secondary-dark);
            font-size: var(--font-size-small);
            border-radius: 4px;
            height: 28px;
            width: fit-content;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .discount-n-price {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            font-size: var(--font-size-medium);

            .discount {
                color: var(--color-neutral-lighter);
            }

            .price {
                color: var(--color-other-red);

                .unit {
                    color: var(--color-neutral-lighter);
                }
            }
        }

        .volumes {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin: 20px 0;

            .volume-child {
                border: 1px solid var(--color-matte-white);
                padding: 5px 8px;
                height: 26px;
                border-radius: 4px;
                font-size: var(--font-size-small);
                line-height: var(--height-small);

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .button-buy {
            .btn-add-cart {
                height: 40px;
                padding: 0px 24px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 100px;
                background-color: var(--color-primary-base);
                color: var(--color-neutral-white);
                transition: all 0.3s;

                &:hover{
                    opacity: 0.85;
                }
            }
        }
    }
}