.header {
  background-color: var(--color-neutral-white);
}

.notification {
  gap: 16px;
  padding: 8px 24px;
  background-color: var(--color-secondary-dark);
}

.notification-text {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  text-overflow: ellipsis;
  white-space: nowrap;
  font: normal var(--font-weight-regular) var(--font-size-small) / var(--line-height-small);
}

.countdown-text {
  width: 100%;
  max-width: 80px;
  color: var(--neutral-0, #fff);
  font: normal var(--font-weight-regular) var(--font-size-medium) / var(--line-height-small);
}

.navbar {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-divider-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1px, 1fr));
  gap: 16px;
  align-items: center;
}

.navbar-divider {
  width: 1px;
  height: 12px;
  gap: 16px;
  background-color: var(--color-neutral-lightest);
}

.navbar-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.navbar-toggler {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  order: -1;
  color: var(--color-neutral-dark-black);
}

.navbar-light .navbar-toggler-icon {
  background-image: url('../../assets/images/menu.svg');
}

.navbar-logo {
  width: 167px;
  height: 40px;
  background: url('../../assets/images/topshelfbc_logo.pngw3.webp');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 12px;
}

.navbar-cart {
  gap: 16px;
}

.shopping-cart {
  background-image: url('../../assets/icons/bag-2.svg');
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media screen and (max-width: 320px) {
  .countdown-text {
    max-width: 60px;
    font-size: var(--font-size-small);
  }

  .navbar-logo {
    width: 119px;
    height: 28px;
  }

  .navbar-cart {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .countdown-text {
    max-width: 80px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
}

@media screen and (min-width: 415px) and (max-width: 768px) {
}
