.card-box-container {
    display: block;
    position: relative;

    max-width: 100%;
    width: 100%;
    height: auto;
}

.card-box-container .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin: 24px;
    border-bottom: 1px solid var(--color-neutral-lightest);
}

@media only screen and (min-width: 1200px) {
    .card-box-container .header-title{
        margin: 0 120px;
    }  
}

.card-box-container .header-title  .title{
    font-size: clamp(var(--font-size-xxl), 2vw,var(--font-size-32));
    /* line-height: 36px; */
    letter-spacing: -0.05px;
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-base);
}

@media only screen and (min-width: 1200px) {
    .card-box-container .header-title  .title{
        font-size: var(--font-size-32);
        font-weight: var(--font-weight-semibold);
    }
}

.card-box-container .header-title .show-all{
    color: var(--color-primary-base);
    text-decoration: underline;
    font-size: clamp(var(--font-size-medium), 3vw, var(--font-size-normal));
}
.card-box-container .card-box {
    display: block;
    position: relative;
    padding: 0 120px;
}

.card-box-container .card-box .card-box-element {
    display: block;
    position: relative;
    border-radius: 24px;

    color: var(--color-neutral-white);
    background: var(--color-secondary-dark);
    padding: 64px;
}

@media screen and (max-width: 767px) {
    .card-box-container .card-box {
        padding: 0 24px;
    }

    .card-box-container .card-box .card-box-element {
        padding: 24px;
    }
}