.cardBoxContainer {
    display: block;
    position: relative;

    max-width: 100%;
    width: 100%;
    height: auto;
}

.cardBoxContainer .headerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin: 24px;
    border-bottom: 1px solid var(--color-neutral-lightest);

}
.cardBoxContainer .headerTitle  .title{
    font-size: var(--font-size-xxl);
    line-height: 36px;
    letter-spacing: -0.05px;
    font-weight: var(--font-weight-medium);
    color: var(--color-neutral-base);
}

.cardBoxContainer .headerTitle .showAll{
    color: var(--color-primary-base);
    text-decoration: underline;
    font-size: var(--font-size-medium);
}
.cardBoxContainer .cardBox {
    display: block;
    position: relative;
    padding: 0 120px;
}

.cardBoxContainer .cardBox .cardBoxElement {
    display: block;
    position: relative;
    border-radius: 24px;

    color: var(--color-neutral-white);
    background: var(--color-secondary-dark);
    padding: 64px;
}

@media screen and (max-width: 767.98px) {
    .cardBoxContainer .cardBox {
        padding: 0 24px;
    }

    .cardBoxContainer .cardBox .cardBoxElement {
        padding: 24px;
    }
}