.cardBoxContainer {
    display: block;
    position: relative;

    max-width: 100%;
    width: 100%;
    height: auto;
}

.cardBoxContainer .cardBox {
    display: block;
    position: relative;
    padding: 0 120px;
}

.cardBoxContainer .cardBox .cardBoxElement {
    display: block;
    position: relative;
    border-radius: 24px;

    color: var(--color-neutral-white);
    background: var(--color-secondary-dark);
    padding: 64px;
}

@media screen and (max-width: 767.98px) {
    .cardBoxContainer .cardBox {
        padding: 0 24px;
    }

    .cardBoxContainer .cardBox .cardBoxElement {
        padding: 24px;
    }
}