@font-face {
  font-family: 'Lexend-Medium';
  src: url('../../assets/fonts/Lexend-Medium.ttf');
}

@font-face {
  font-family: 'Lexend-Regular';
  src: url('../../assets/fonts/Lexend-Regular.ttf');
}

@font-face {
  font-family: 'Lexend', sans-serif;
  src: url('../../assets/fonts/Lexend-VariableFont_wght.ttf');
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family-all);
}
