* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-white);
  overflow-y: scroll;
  height: 100vh;
  font-family: var(--font-family-regular);
}

a{
  text-decoration: none;
}

.hidden-e {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.btn-action {
  border-radius: 100px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid var(--color-matte-white);
  transition: all 0.3s;
}

.truncate_3lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

p+p{
  margin-top: 0;
}