.wrapper-Advertisement {
    margin-top: 20rem;
    width: 100%;
    position: relative;
}

.coins {
    position: absolute;
    z-index: 2;
    transform: translate(-50%,-50%);;
    width: var(--default-width);
    margin: 0 auto;
    margin-top: 10px;
height: 342px;
top: -4rem;
left: 50%;
border-radius: 24px;
display: flex;
background:  var(--color-secondary-dark);
color: #fff;
padding: 4rem 8rem;
justify-content: space-between;
}
.coins .wrapper-coins h1{
    color: #fff;
    font-family: Lexend;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -4px;
    text-align: left;
    margin:12px 0 ;
}
.coins .wrapper-coins .wrapper-coins_item {
    display: flex;
    margin-top: 2rem;
    width: 209px;
height:48px;
gap: 24px;
font-family: Lexend;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.5px;
text-align: left;
}
.coins .wrapper-coins .wrapper-coins_item p {
    width: 65px;
height: 38px;
color: var(--color-other-orange);

}
.coins button {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    width: 207px;
height: 64px;
border-radius: 100px;
gap: 8px;
background-color: var(--color-primary-base);

margin: auto 0;

}
.main {
    width: 1440px;
height: 1595px;
background-color: var(--color-secondary-ultra-dark);
color: #fff;
padding: 0 10rem;
margin: 0 auto;
padding-top: 7rem;
text-align:center;
}

.main-items_boxs-img {
    display: flex;
    width: 100%;
}

.main .main-items_boxs-img .label {
    width: 40px;
    height: 40px;
    padding: 4px, 32px, 5px, 32px;
    border-radius: 100px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: var(--color-other-orange);
margin-right: -10rem;
margin-left: 10rem;

}

.main h1 {
    color: #fff;
    text-align: center;

}
.main p {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-neutral-lighter);
}
.main-items {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}
.main-items .main-items_boxs {
    width: 548px;
height: 300px;
top: 5510px;
left: 172px;
gap: 24px;
text-align: center;
margin-bottom: 2.5rem;

}
.main-items .main-items_boxs img {
    width: 144px;
height: 144px;
margin-left: 10rem;

}
.main-items .main-items_boxs div {
    margin: 1.5rem 0;
    color: #fff;
}
.main-items .main-items_boxs p {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    
}
.main .main-items_btn {
    width:260px;
height: 70px;
left: 590px;
border-radius: 100px;
gap: 8px;
margin-top: 5.5rem;
font-size: 16px;
color: #fff;
background-color: var(--color-primary-base);
}
.main .main-items_btn:last-child {
    display: none;
}
/* media @media only screen and (max-width: 740px) { */
    @media only screen and (max-width: 740px) { 
        .wrapper-Advertisement {
            margin-top: 20rem;
        }
        .wrapper-Advertisement .coins {
            flex-direction: column;
            width: 342px;
            height: 268px;
            border-radius: 24px;
            padding:1rem 1rem;
        }
        .wrapper-Advertisement .coins .wrapper-coins h1{
            font-size: 32px;
           letter-spacing: 0.1px;
            line-height: 38px;
        }
        .wrapper-Advertisement .coins .wrapper-coins_item {
            font-size: 25px;
            margin: 5px 15px;
            margin-bottom: 1rem;
        }
        /* main */
        .main {
            padding:0;
            padding-top: 4rem;
            width: 369px;
            height: 1354px;
            top: 6310px;
            background-position: center center;
            background-size: cover;
        }
        .main .main-items_btn{
            display: none;
        } 
        .main .main-items_btn:last-child {
            display: block;
            width: 165px;
            height: 56px;
            border-radius: 100px;
            gap: 8px;
            font-size: 16px;
            font-weight: 500;
            margin-top: 3rem;
            margin: 3rem auto;
        }
        .wrapper-Advertisement .main h1 {
        margin-left: 0;
        font-family: Lexend;
        font-size: 23px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: -1px;
        text-align: center;
        color: #fff;
        }
        .wrapper-Advertisement .main p {
           
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 0;
        }
        .wrapper-Advertisement .main .main-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
        }
        .wrapper-Advertisement .main .main-items .main-items_boxs {
            width: 159px;
            height:312px;
            top: 6806px;
            left: 24px;
            gap: 16px;
margin-left: 1rem;
        }

        .wrapper-Advertisement .main .main-items .main-items_boxs .main-items_boxs-img  {
            align-items: flex-end;

        }
        .wrapper-Advertisement .main .main-items .main-items_boxs .main-items_boxs-img img {
            height: 64px;
            width: 64px;
            margin-left: 31px;
        }
        .wrapper-Advertisement .main .main-items .main-items_boxs .main-items_boxs-img .label {
            width: 28px;
            height: 28px;
            margin-top: -1rem;
            margin-right: -1rem;
            margin-left: 0;
        }
        .wrapper-Advertisement .main .main-items .main-items_boxs p {

        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;

        }
        
    }